footer {
  background-color: #11171a;
  .region-footer {
    .logo {
      display: block;
      margin: 0 auto;
      width: 160px;
    }
  }
}
.section-footer-pre-bottom {
  background-color: #11171a;
  padding-top: 35px;
  padding-bottom: 35px;
  #block-copyrights {
    color: rgba(255,255,255,0.3);
    font-size: 80%;
    text-align: center;
  }
}
.section-footer-middle {
  background-color: #0f171d;
  border-top: 1px solid rgba(255,255,255,0.2);
  border-bottom: 1px solid rgba(255,255,255,0.2);
  .nav {
    text-align: center;
    li {
      display: inline-block;
      a {
        color: #fff;
        &:focus,
        &:hover {
          background: none;
          text-decoration: underline;
        }
      }
    }
  }
}
.section-footer-bottom {
  background-color: #0a1013;
  color: rgba(255,255,255,0.4);
  padding: 1rem 0;
  text-align: center;
  a {
    color: rgba(255,255,255,0.6);
    text-decoration: underline;
  }
}
