/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-size-base: 18px;
$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
$font-size-page-title: 2rem;
$font-weight-base: 400;
$headings-font-weight: bold;
$headings-color: #263238;
$text-color: rgba(38,50,56,0.9);
$headings-font-family: "Montserrat",sans-serif;
$navbar-default-bg: #fff;
$navbar-default-color: $headings-color;
$navbar-default-link-color: $navbar-default-color;
$navbar-default-bg: #fff;
$navbar-default-border: #eee;
$navbar-margin-bottom: 0;
