// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/footer";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";
@import "component/top_bar";
@import "component/content";
@import "component/breadcrumb";
@import "component/teasers";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: none;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}


.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

html {
  font-size: $font-size-base - 4;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;

  @media screen and (min-width: $screen-sm-min) {
    font-size: $font-size-base - 2;
  }

  @media screen and (min-width: $screen-lg-min) {
    font-size: $font-size-base;
  }
}

body {
  font-size: 1rem;
  font-weight: $font-weight-base;
}

img {
  max-width: 100%;
  height: auto;
}

body.navbar-is-fixed-top {
  margin-top: 110px;

  @media (min-width: $screen-sm-min) {
    margin-top: 160px;
  }

  @media (min-width: $screen-md-min) {
    margin-top: 110px;
  }
}

.alert {
  margin: 2rem 0 1rem;
}
